body {
    background-color: #1c1b21;
}

#main-document-text > span {
    background: rgba(0, 255, 13, 0.5);
}

.blur {
    background-size:cover;
    -webkit-filter: blur(7.5px);
    -moz-filter: blur(7.5px);
    -o-filter: blur(7.5px);
    -ms-filter: blur(7.5px);
    filter: blur(7.5px);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.navbar-labels::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .navbar-labels {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

.docText br {
    display: block;
    margin: 100px 0;
}